@model UpdateUserDTO

<form class="container col-lg-6 transperant-background" method="post">
    <div class="container g-3 align-items-center mb-3">
    <legend class="my-4">تعدبل الحساب</legend></div>
    <div class="container g-3 align-items-center mb-3">
<input class="form-control" asp-for="Name" placeholder="الأسم بالكامل">
<span class="form-text text-danger" asp-validation-for="Name"></span></div>

<div class="container g-3 align-items-center mb-3">
<input class="form-control " asp-for="Password" value="@Model.Password" placeholder="كلمة المرور">
<span class="form-text text-danger" asp-validation-for="Password"></span></div>

<div class="container g-3 align-items-center mb-3">
<input class="form-control " asp-for="ConfirmPass" placeholder="تأكيد كلمة المرور">
<span class="form-text text-danger" asp-validation-for="ConfirmPass"></span></div>

<div class="container g-3 align-items-center mb-3">
<div>
  <input class="form-check-input" type="radio" asp-for="Gender" value="ذكر">
  <label class="form-check-label" for="ذكر">
    ذكر
  </label>
</div>
<div>
  <input class="form-check-input" type="radio" asp-for="Gender" value="أنثى">
  <label class="form-check-label" for="أنثى">
    أنثى
  </label>
</div>
<span class="form-text text-danger" asp-validation-for="Gender"></span></div>

<div class="container g-3 align-items-center mb-3">
<input class="form-control " asp-for="Phone"   placeholder="رقم الهاتف">
<span class="form-text text-danger" asp-validation-for="Phone"></span></div>

<div class="container g-3 align-items-center mb-3">
<input class="form-control " asp-for="Birthdate"  placeholder="تاريخ الميلاد">
<span class="form-text text-danger" asp-validation-for="Birthdate"></span></div>

    <div class="container g-3 align-items-center mb-3">
<input class="form-control " asp-for="Email"  placeholder="البريد الألكترونى">
<span class="form-text text-danger" asp-validation-for="Email"></span></div>

<div class="container g-3 align-items-center mb-3">
  <button class="col-lg-3 btn btn-success my-4" type="submit" value="Edit" >حفظ</button>
 <span>  <a class="btn btn-danger" asp-controller="shop" asp-action="ViewForCustumers">إلغاء</a></span>
</div>
</form>
