@model GetUserLoginDTO

  <form class="container col-lg-6 transperant-background" method="post">

  
        <div class="container g-3 align-items-center mb-2">
            <legend class="my-4">تسجيل الدخول</legend>
        </div>
        <div class="container g-3 align-items-center mb-2">
            <input class="form-control" asp-for="EmailOrPhoneNumber" placeholder=" إدخل البريد الألكترونى أو رقم الهاتف ">
        </div>
        <div class="container g-3 align-items-center mb-2">
            <input class="form-control " asp-for="Password" placeholder=" إدخل كلمة المرور">
        </div>
        <div class="container g-3 align-items-center mb-2">
            <button class="col-lg-3 btn btn-primary" type="submit" value="LogIn">تسجيل الدخول</button>
            <a class="nav-link" asp-controller="User" asp-action="RecoveringPassword">هل نسيت كلمة المرور ؟</a>
        </div>
        <div class="form-text text-danger container g-3 align-items-center mb-3 pb-3" asp-validation-summary="All">
        </div>
        
    </form>

@if (ViewBag.ExpDtOfBan!=null)
{
    <script>
        window.onload = function () {
            alert("لقد تم حظر حسابك لمدة @ViewBag.ExpDtOfBan.ToString() يوم");
        };
    </script>
}