@model GetForgottenUserPasswordDTO

  <form class="container col-lg-6 transperant-background" method="post">

        <div class="container g-3 align-items-center mb-2">
            <input class="form-control" asp-for="Email" placeholder=" إدخل البريد الألكترونى">
        </div>
        <div class="container g-3 align-items-center mb-2">
            <button class="col-lg-3 btn btn-success" type="submit">إستعادة كلمة المرور</button>
        </div>
        <div class="form-text text-danger container g-3 align-items-center mb-3 pb-3" asp-validation-summary="All">
        </div>
    </form>