
@model PaginationViewComponentModel
<form method="post">
<nav *ngIf="data" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
        <a class="page-link"  href="/pagination/showPreviousPage/@Model.ControllerName/@Model.ActionName"  aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    @for(int i=0;i<Model.TotalPages;i++)
    {
    <li  class="page-item">
      <a class="page-link" href="/pagination/showNumberPage/@Model.ControllerName/@Model.ActionName/@(i+1)">@(i+1)</a>
    </li>
    }
    <li class="page-item">
            <a class="page-link"  href="/pagination/showNextPage/@Model.ControllerName/@Model.ActionName/@Model.TotalPages" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</form>