html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: White;
}

.form-select 
{
  background-position: left .4rem center;
  padding: .375rem .75rem;
}

.logo {
  height: 150px;
  width: 150px;
}

.transperant-background {
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.shop {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}

.shop-body {
  margin-top: 30px;
  flex: 1 1 auto;
  padding: 1rem 1rem;
  position: absolute;
    right: 15%;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.shop-title {
  margin-bottom: 50%;

}


.shop-distinctive {
  font-size: small;
  padding: 0px 5px 5px 5px;
  background-color: #ad9203;
  color: gold;
  border-radius: 8px;

}



/* StarRating Style Start */ 
.star-rating {
  color: #ffc107;
}
.starrating > input {  
  display: none;  
}  
/* Remove radio buttons */  

.starrating > label:before {  
  content: "\f005"; /* Star */  
  margin: 2px;  
  font-size: 2em;  
  font-family: FontAwesome;  
  display: inline-block;  
}  

.starrating > label {  
  color: #6c757d; /* Start color when not clicked */  
}  

.starrating > input:checked ~ label {  
  color: #ffca08;  
}  
/* Set yellow color when star checked */  

.starrating > input:hover ~ label {  
  color: #ffca08;  
}

/* StarRating Style End */ 


/* ProductList Style Start */ 
.product-border
 {
    height: 300px;
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(../images/proBorder.jpg) 30 round;
    position:relative;
    
 }

 .product-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 9;
}

.product-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.product-selected {
  opacity: 0;
  z-index: 9;
}

.product-selected:hover {
  opacity: 0.9;
}
 /* ProductList Style End */ 

 .adding-product-image
 {
  border-radius: 1.5rem !important;
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
  width: 100%;
 }


   /* Pagenation Style Start */ 
   .page-link{
    background-color: black;
    color: white;
    opacity: 55%;}

   .page-item:last-child .page-link {
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}
.page-item:first-child .page-link {
  border-top-left-radius:0;
  border-bottom-left-radius:0;
}
   /* Pagenation Style End */ 

.rating-comment-lists{
   position: relative;
    height: 200px;
    margin-top: .5rem;
    overflow: auto;}

    
.scroll-by-width
{
  overflow: auto;
}